body {
  font-family: Arial, sans-serif;
}

.game-container {
  display: flex;
}

.upgrades {
  flex: 25%;
}

.main-game {
  flex: 75%
}

.reset {
  display: inline-block;
}

@media (max-width: 768px) {
  .game-container {
    flex-direction: column;
  }

}